// Course pages
#page-course-view-topics {
  #learningcontent {
    background: transparent !important;
    height: 100%;
  }
  #page-header {
    display: flex;
    justify-content: center;
    div {
      max-width: 1440px !important;
    }
    .page-header-headings {
      h1 {
        font-weight: 600;
      }
    }
  }
  #page-content {
    display: flex;
    width: 100%;
    justify-content: center;
    #region-main-box {
      max-width: 1440px !important;
      #region-main {
        background: transparent !important;
        padding: 0 !important;
        border: none !important;
      }
    }
    .course-content {
      .sectionname {
        font-weight: 500;
      }
      .section-summary {
        border: none;
        background: white;
        padding: 20px;
        border-radius: 5px;
        .content {
          display: flex;
          flex-wrap: wrap;
          // justify-content: space-between;

          .summarytext {
            display: flex;
            align-items: center;
            a {
              order: 2;
            }
            div {
              order: 1;
            }
          }
          .progress {
            display: none;
          }
          .section-summary-activities {
            .activity-count:nth-child(1) {
              display: none;
            }
            .activity-count:nth-child(2) {
              display: none;
            }
            .activity-count:nth-child(3) {
              display: none;
            }
            .activity-count:nth-child(4) {
              margin-right: 20px;
            }
            br {
              display: none;
            }
          }
          .section-title.sectionname {
            flex: 1;
          }
        }
      }
      .single-section {
        background: transparent !important;
        padding: 0px !important;
        border: none !important;
        border-radius: 5px;
      }
    }
  }
}

.headerbkg {
  .withimage {
    // filter: blur(19px);
    background-image: url(https://mylearningdev2.astutis.com/pluginfile.php/1/theme_fordson/headerdefaultimage/1649946120/Astutis%20background.jpg) !important;
  }
}

.editing {
  #region-main-box {
    background: white !important;
    padding: 20px !important;
    border: none !important;
    border-radius: 5px;
  }
}

// Section name
.single-section {
  h3.sectionname {
    text-align: left;
  }
}

// Acctivity completion
.activity-information {
  display: none;
}

// Books
#page-mod-book-view {
  #page-header {
    display: flex;
    justify-content: center;
    div {
      max-width: 1440px !important;
    }
  }
  #page-content {
    display: flex;
    width: 100%;
    justify-content: center;
    #region-main-box {
      max-width: 1440px !important;
    }
  }
}

// Course navigation (REFACTORING NEEDED)

// Top
/* Element | https://mylearningdev2.astutis.com/course/view.php?id=2&section=1 */

div.section-navigation:nth-child(1) > span:nth-child(2) {
  display: none;
}

/* Element | https://mylearningdev2.astutis.com/course/view.php?id=2&section=1 */

div.section-navigation:nth-child(3) > span:nth-child(2) {
  display: none;
}

// Bottom
div.section-navigation:nth-child(1) > span:nth-child(1) {
  display: none;
}
div.section-navigation:nth-child(3) > span:nth-child(1) {
  display: none;
}

// Course progress bar

.ast-course-progress-info__percentage {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 60px;
}
.ast-course-progress-info__wrp {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  p {
    margin: 0 0 20px 0;
  }
}

// Enrolment duration  block
.block_enrol_duration {
  margin-top: 15px;
}

// Activity page
