// Course pages
#page-course-view-topics {
  #learningcontent {
    background: #00000054 !important;
    height: 100%;
  }
  #page-header {
    display: flex;
    justify-content: center;
    div {
      max-width: 1000px !important;
    }
  }
  #page-content {
    display: flex;
    width: 100%;
    justify-content: center;
    #region-main-box {
      max-width: 1000px !important;
      #region-main {
        background: transparent !important;
        padding: 0 !important;
        border: none !important;
      }
    }
    .course-content {
      .section-summary {
        border: none;
        background: white;
        padding: 20px;
        border-radius: 5px;
        .content {
          display: flex;
          flex-wrap: wrap;
          // justify-content: space-between;
          .summarytext {
            display: flex;
            align-items: center;
            a {
              order: 2;
            }
            div {
              order: 1;
            }
          }
          .progress {
            display: none;
          }
          .section-summary-activities {
            .activity-count:nth-child(1) {
              display: none;
            }
            .activity-count:nth-child(2) {
              display: none;
            }
            .activity-count:nth-child(4) {
              margin-right: 20px;
            }
            br {
              display: none;
            }
          }
          .section-title.sectionname {
            flex: 1;
          }
        }
      }
      .single-section {
        background: white !important;
        padding: 20px !important;
        border: none !important;
        border-radius: 5px;
      }
    }
  }
}

.headerbkg {
  .withimage {
    filter: blur(19px);
  }
}

.editing {
  #region-main-box {
    background: white !important;
    padding: 20px !important;
    border: none !important;
    border-radius: 5px;
  }
}

// Acctivity completion
.activity-information {
  display: none;
}
