// Welcome message
.ast-welcome-message {
  font-size: 40px;
  font-weight: 700;
  margin: 10px 0;
}
.ast-welcome-message__name {
  color: #9243ff;
}

// Course overview
#instance-10-header {
  display: none !important;
}
#page-my-index {
  [data-region="filter"] {
    display: none !important;
  }
}

.dashboard-card-deck .dashboard-card .dashboard-card-img {
  height: 15rem;
}

#course-info-container-2-2 {
  .categoryname {
    display: none;
  }
}
