// Welcome message
.ast-welcome-message {
  font-size: 2rem;
  font-weight: 700;
  margin: 10px 0;
}
.ast-welcome-message__name {
  color: #9243ff;
}
.ast-welcome-message__p {
  font-size: 1.25rem;
}

// Course overview
#instance-10-header {
  display: none !important;
}
#page-my-index {
  [data-region="filter"] {
    display: none !important;
  }
}

#page-my-index .block_myoverview .card-body h5 {
  display: none !important;
}

.dashboard-card-deck {
  .dashboard-card {
    .dashboard-card-img {
      height: 15rem;
    }
    .categoryname {
      display: none;
    }
  }
}

// #course-info-container-2-2 {
// }

.block_myoverview {
  .dashboard-card {
    transition: all 1s ease;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: -3px 7px 5px 1px #0000002e;
    &:hover {
      box-shadow: -3px 7px 5px 1px #00000091;
    }
  }
}

.block_myoverview .coursename {
  font-weight: 600;
  font-size: 18px;
}

.block_myoverview .card-footer {
  margin-bottom: 10px;
  margin-top: 20px;
}

.block_myoverview .small {
  font-size: 14px;
}
