@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

a {
  color: black;
}

.userpicture {
  border-radius: 100%;
}

#page-my-index header {
  height: 0;
}

div#learningcontent {
  background: transparent !important;
}

.card,
.card-body {
  border: none;
}

.ast-embed-wrp {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ast-embed-wrp.ast-featured {
  padding: 40px 0;
}

.ast-embed {
  overflow: hidden;
  margin-top: 40px;
  padding-top: 56.25%;
  position: relative;
}

.ast-embed--featured {
  margin-bottom: 20px;
  margin-top: 0;
  border-radius: 10px;
}

.ast-embed__iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#page-footer a {
  color: black !important;
}

.navbar {
  padding: 2rem 1rem;
}

.navbar .navbar-brand .d-none {
  display: inline !important;
}

.navbar .navbar-brand .site-name.d-none {
  display: none !important;
}

.navbar .navbar-brand .logo img {
  content: url(https://astutis.github.io/moodle/Theme%20V2/Assets/Images/astutis-logo.svg);
  width: 138px;
}

.navbar #action-menu-toggle-1 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  /*! align-content: ; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .userbutton {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .avatars {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.navbar .usertext {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.ast-welcome-message {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 10px 0;
}

.ast-welcome-message__name {
  color: #9243ff;
}

.ast-welcome-message__p {
  font-size: 1.25rem;
}

#instance-10-header {
  display: none !important;
}

#page-my-index [data-region="filter"] {
  display: none !important;
}

#page-my-index .block_myoverview .card-body h5 {
  display: none !important;
}

.dashboard-card-deck .dashboard-card .dashboard-card-img {
  height: 15rem;
}

.dashboard-card-deck .dashboard-card .categoryname {
  display: none;
}

.block_myoverview .dashboard-card {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: -3px 7px 5px 1px #0000002e;
          box-shadow: -3px 7px 5px 1px #0000002e;
}

.block_myoverview .dashboard-card:hover {
  -webkit-box-shadow: -3px 7px 5px 1px #00000091;
          box-shadow: -3px 7px 5px 1px #00000091;
}

.block_myoverview .coursename {
  font-weight: 600;
  font-size: 18px;
}

.block_myoverview .card-footer {
  margin-bottom: 10px;
  margin-top: 20px;
}

.block_myoverview .small {
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */